/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
   scroll-behavior: smooth;
}

#home {
    position: fixed;
}

/*
font-family: 'Roboto Mono', monospace;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Major Mono Display', monospace;
*/

body {
/*font-family: 'IBM Plex Mono', monospace;*/
    font-family: 'Work Sans', sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 1rem;
}


header h1 {
/*    font-family: 'Major Mono Display', monospace;*/
/*    font-family: 'Playfair Display', serif;*/
/*    font-family: 'Lora', serif;*/
/*font-family: 'Noto Serif SC', serif;*/
/*font-family: 'Gentium Basic', serif;*/
    font-family: 'Alata', sans-serif;
    color: #ff3d51;
    font-size: 2rem;
    float: left;
}

#about p {
}

nav a{
    text-decoration: none;
    color: black;
    opacity: 0.4;
}

nav#main {
    float: right;    
}

nav#side {
    position: fixed;
/*    transform:rotate(270deg);*/
    transform-origin: left top;
    margin-top: 30vh;
    text-transform: uppercase;
    font-size: 0.7rem;
}

#side a:hover {
    color: #ff3d51;
    opacity: 1;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/*
#side li p {
    opacity: 0;
}

#side li {
    display: block;
}


#side a:hover + p {
    opacity: 1;
    transition: 0.3s ease all;
}
*/

#side a.past-1 {
    color: #ff3d51;
    opacity: 1;
     transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#rightside {
    float: right;
    margin-left: 90%;
    margin-top: 30vh;
    position: absolute;
    transform:rotate(270deg);

}

/*
#two a .past-1 {
    color: blue;
}
*/

footer {
    font-size: 0.8rem;
    opacity: 0.6;
    float: right;
    right: 2%;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.linkedin {
    width: 2rem;
/*    transform: rotate(90deg);*/
}

.medium {
    width: 2rem;
/*    transform: rotate(90deg);*/
}

button {
    border: none;
    cursor: pointer;
	outline: inherit;
}

.werk {
    -webkit-filter: url(#noise);
	filter: url(#noise);
}

.play {
    -webkit-filter: url(#noise2);
	filter: url(#noise2);
}

.resume {
    -webkit-filter: url(#noise3);
	filter: url(#noise3);
}

.abot {
    -webkit-filter: url(#noise4);
	filter: url(#noise4);
}

.katie {
    -webkit-filter: url(#noise5);
	filter: url(#noise5);
}

.svg-filters {
	height: 0;
	width: 0;
	visibility: hidden;
}

#about {
    position: absolute;
    width: 30vw;
    margin-left: 10%;
    margin-top: 10%;
}

#about p {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

#about h1 {
    font-size: 1rem;
}

#me {
    width: 40vw;
    margin-top: 3rem;
/*    float: left;*/
    margin-left: auto;
    margin-right: auto;
}

#me img{
    width: 100%;
}

#bio {
    width: 40vw;
/*    float: right;*/
}

/*
.me-grid h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.me-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 3rem;
    margin-top: 3rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.me-grid img {
    width: 100%;
}

.me-grid p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
*/


.grid-container {
    opacity: 1;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw;
    grid-gap: 1.5rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
}

.grid-container a {
    text-decoration: none;
    color: #0004ff;
/*    color: black;*/
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 15px;
    width: 100%;
}

.grid-container div img {
    width: 100%;
    height: auto;
}

#title {
    opacity: 0;
    padding-bottom: 0.5rem;
    line-height: 1.1rem;
}

#dash {
    float: left;
    padding-top: 0.5rem;
    stroke: #0004ff;
    stroke-width: 1;
    opacity: 0;
}

#title {
    float: right;
    width: 90%;
/*    background: red;*/
}

.grid-container div h3 {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: rgba(0,4,255,0.5);
}

.grid-container div h2 {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    line-height: 1rem;
/*    margin-bottom: 0.2rem;*/
}

.grid-container div#low h3 {
    margin-bottom: 0.3rem;
}

.grid-container div:hover #title {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grid-container div:hover #dash {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}




/*pages*/

p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    opacity: 0.7;
    margin-bottom: 2em;
}

h2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.8;
}

.intro-grid a {
    text-decoration: none;
    color: black;
}

.intro-grid a:hover {
    color: #ff3d51;
    transition: 0.3s ease all;
}


.name {
    margin-top: 7rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.name h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.name h2 {
    line-height: 1rem;
    opacity: 0.5;
}

.intro-grid h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.intro-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem;
    margin-top: 3rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.intro-grid img {
    width: 100%;
}

.intro-grid p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

section #post {
    width: 70vw;
    margin-left: 14vw;
    margin-top: 3rem;
}

/*
#video {
    width: 70vw;
    margin-left: 14vw;
    margin-top: 3rem;
    width: 1040px;
    height: 760px; 
}
*/
.img-grid {
    margin-top: 3rem;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5rem;
    width: 70vw;
}

/*
iframe#post {
    width: 70vw;
}
*/

.break svg {
    margin-left: 15vw;
}

.sub-grid h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.sub-grid {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 3rem;
    margin-top: 3rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.sub-grid p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.sub-grid img {
    width: 100%;
}

.img-grid img {
    width: 100%;
}

.hide {
    display: none;
}

section {

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
/*  padding-top: 5%;*/
    padding: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
/*
    max-height: 100vh;
        max-width: 100vw;
*/
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0.6);
  margin: auto;
  padding: 0;
    width: 100%;
    height: 100%;
/*    height: 100vh;*/
/*  width: 90%;;*/
  max-height: 80vh;
/*    max-width: 80vw;*/
}

.modal-content img {
     margin:auto;
    
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
/*  width: auto;*/
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
/*  border-radius: 0 3px 3px 0;*/
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
/*  background-color: rgba(0, 0, 0, 0.8);*/
}

/* Number text (1/3 etc) */
/*
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
*/

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width: 768px) {
    
       
    .werk {
    -webkit-filter: none;
	filter: none;
}

.play {
    -webkit-filter: none;
	filter: none;
}

.resume {
    -webkit-filter: none;
	filter: none;
}

.abot {
    -webkit-filter: none;
	filter: none;
}

.katie {
    -webkit-filter: none;
	filter: none;
}
    
    .grid-container {
        display: block;
        margin-top: 5rem;
    }
    
    #title {
    opacity: 1;
    }
    
    #dash {
        margin-top: 2rem;
        opacity: 1;
    }
    
    .grid-container div h2 {
        margin-top: 1rem;
    }
    
    .grid-container div #dash {
        margin-top: 1rem;
    }
    
    .grid-container div h3 {
        margin-bottom: 2rem;
    }
    
    .grid-container div#low #title {
        margin-bottom: 2rem;
    }
    
/*
    .grid-container div h3 {
        margin-bottom: 2rem;
    }
    
    .grid-container div #dash {
        margin-top: 1rem;
    }
*/
    
    .grid-container div#up .shown {
        display: none;
    }
    
/*
    .grid-container div#up #dash {
        display: none;
    }
*/
    
    .hide {
        display: block;
    }

    .intro-grid {
        display: block;
    }
    
    .sub-grid {
        display: block;
    }
    
    .img-grid {
        display: block;
    }
    
    .break svg {
        margin-left: 15vw;
        width: 100%;
    }
    
    section #post {
        margin-bottom: 3rem;
        margin-top: 0.5rem;
        height: auto;
    }
    
    
/*
    #video {
        width: 70vw;
        margin-left: 14vw;
        margin-top: 3rem;
        width: 640px;
        height: 360px;
    }
*/
    
}
